<div style="clear: both;"></div>
<div class="tabbable example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#html-treeview-example">
                <i></i>
                HTML
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#javascript-treeview-example">
                JavaScript
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#data-treeview-example">
                Data
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="html-treeview-example" class="tab-pane in active">
            <pre><code class="html">
&lt;div id=&quot;tree1&quot; class=&quot;tree&quot;&gt;&lt;/div&gt;

&lt;div id=&quot;tree2&quot; class=&quot;tree&quot;&gt;&lt;/div&gt;
</code></pre>
        </div>
        <div id="javascript-treeview-example" class="tab-pane">
            <pre><code class="javascript">
$(&#39;#tree1&#39;).ace_tree({
    dataSource: treeDataSource ,
    multiSelect:true,
    loadingHTML:&#39;&lt;div class=&quot;tree-loading&quot;&gt;&lt;i class=&quot;icon-refresh icon-spin blue&quot;&gt;&lt;/i&gt;&lt;/div&gt;&#39;,
    &#39;open-icon&#39; : &#39;icon-minus&#39;,
    &#39;close-icon&#39; : &#39;icon-plus&#39;,
    &#39;selectable&#39; : true,
    &#39;selected-icon&#39; : &#39;icon-ok&#39;,
    &#39;unselected-icon&#39; : &#39;icon-remove&#39;
});

$(&#39;#tree2&#39;).ace_tree({
    dataSource: treeDataSource2 ,
    loadingHTML:&#39;&lt;div class=&quot;tree-loading&quot;&gt;&lt;i class=&quot;icon-refresh icon-spin blue&quot;&gt;&lt;/i&gt;&lt;/div&gt;&#39;,
    &#39;open-icon&#39; : &#39;icon-folder-open&#39;,
    &#39;close-icon&#39; : &#39;icon-folder-close&#39;,
    &#39;selectable&#39; : false,
    &#39;selected-icon&#39; : null,
    &#39;unselected-icon&#39; : null
});
</code></pre>
        </div>
        <div id="data-treeview-example" class="tab-pane">
            <pre><code class="javascript">
var tree_data = {
    &#39;for-sale&#39;: { name: &#39;For Sale&#39;, type: &#39;folder&#39; },
    &#39;vehicles&#39;: { name: &#39;Vehicles&#39;, type: &#39;folder&#39; },
    &#39;rentals&#39;: { name: &#39;Rentals&#39;, type: &#39;folder&#39; },
    &#39;real-estate&#39;: { name: &#39;Real Estate&#39;, type: &#39;folder&#39; },
    &#39;pets&#39;: { name: &#39;Pets&#39;, type: &#39;folder&#39; },
    &#39;tickets&#39;: { name: &#39;Tickets&#39;, type: &#39;item&#39; },
    &#39;services&#39;: { name: &#39;Services&#39;, type: &#39;item&#39; },
    &#39;personals&#39;: { name: &#39;Personals&#39;, type: &#39;item&#39; }
}
tree_data[&#39;for-sale&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: {
        &#39;appliances&#39;: { name: &#39;Appliances&#39;, type: &#39;item&#39; },
        &#39;arts-crafts&#39;: { name: &#39;Arts &amp; Crafts&#39;, type: &#39;item&#39; },
        &#39;clothing&#39;: { name: &#39;Clothing&#39;, type: &#39;item&#39; },
        &#39;computers&#39;: { name: &#39;Computers&#39;, type: &#39;item&#39; },
        &#39;jewelry&#39;: { name: &#39;Jewelry&#39;, type: &#39;item&#39; },
        &#39;office-business&#39;: { name: &#39;Office &amp; Business&#39;, type: &#39;item&#39; },
        &#39;sports-fitness&#39;: { name: &#39;Sports &amp; Fitness&#39;, type: &#39;item&#39; }
    }
}
tree_data[&#39;vehicles&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: {
        &#39;cars&#39;: { name: &#39;Cars&#39;, type: &#39;folder&#39; },
        &#39;motorcycles&#39;: { name: &#39;Motorcycles&#39;, type: &#39;item&#39; },
        &#39;boats&#39;: { name: &#39;Boats&#39;, type: &#39;item&#39; }
    }
}
tree_data[&#39;vehicles&#39;][&#39;additionalParameters&#39;][&#39;children&#39;][&#39;cars&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: {
        &#39;classics&#39;: { name: &#39;Classics&#39;, type: &#39;item&#39; },
        &#39;convertibles&#39;: { name: &#39;Convertibles&#39;, type: &#39;item&#39; },
        &#39;coupes&#39;: { name: &#39;Coupes&#39;, type: &#39;item&#39; },
        &#39;hatchbacks&#39;: { name: &#39;Hatchbacks&#39;, type: &#39;item&#39; },
        &#39;hybrids&#39;: { name: &#39;Hybrids&#39;, type: &#39;item&#39; },
        &#39;suvs&#39;: { name: &#39;SUVs&#39;, type: &#39;item&#39; },
        &#39;sedans&#39;: { name: &#39;Sedans&#39;, type: &#39;item&#39; },
        &#39;trucks&#39;: { name: &#39;Trucks&#39;, type: &#39;item&#39; }
    }
}
tree_data[&#39;rentals&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: {
        &#39;apartments-rentals&#39;: { name: &#39;Apartments&#39;, type: &#39;item&#39; },
        &#39;office-space-rentals&#39;: { name: &#39;Office Space&#39;, type: &#39;item&#39; },
        &#39;vacation-rentals&#39;: { name: &#39;Vacation Rentals&#39;, type: &#39;item&#39; }
    }
}
tree_data[&#39;real-estate&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: {
        &#39;apartments&#39;: { name: &#39;Apartments&#39;, type: &#39;item&#39; },
        &#39;villas&#39;: { name: &#39;Villas&#39;, type: &#39;item&#39; },
        &#39;plots&#39;: { name: &#39;Plots&#39;, type: &#39;item&#39; }
    }
}
tree_data[&#39;pets&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: {
        &#39;cats&#39;: { name: &#39;Cats&#39;, type: &#39;item&#39; },
        &#39;dogs&#39;: { name: &#39;Dogs&#39;, type: &#39;item&#39; },
        &#39;horses&#39;: { name: &#39;Horses&#39;, type: &#39;item&#39; },
        &#39;reptiles&#39;: { name: &#39;Reptiles&#39;, type: &#39;item&#39; }
    }
}
var treeDataSource = new DataSourceTree({ data: tree_data });
var tree_data_2 = {
    &#39;pictures&#39;: { name: &#39;Pictures&#39;, type: &#39;folder&#39;, &#39;icon-class&#39;: &#39;red&#39; },
    &#39;music&#39;: { name: &#39;Music&#39;, type: &#39;folder&#39;, &#39;icon-class&#39;: &#39;orange&#39; },
    &#39;video&#39;: { name: &#39;Video&#39;, type: &#39;folder&#39;, &#39;icon-class&#39;: &#39;blue&#39; },
    &#39;documents&#39;: { name: &#39;Documents&#39;, type: &#39;folder&#39;, &#39;icon-class&#39;: &#39;green&#39; },
    &#39;backup&#39;: { name: &#39;Backup&#39;, type: &#39;folder&#39; },
    &#39;readme&#39;: { name: &#39;&lt;i class=&quot;icon-file-text grey&quot;&gt;&lt;/i&gt; ReadMe.txt&#39;, type: &#39;item&#39; },
    &#39;manual&#39;: { name: &#39;&lt;i class=&quot;icon-book blue&quot;&gt;&lt;/i&gt; Manual.html&#39;, type: &#39;item&#39; }
}
tree_data_2[&#39;music&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: [
        { name: &#39;&lt;i class=&quot;icon-music blue&quot;&gt;&lt;/i&gt; song1.ogg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-music blue&quot;&gt;&lt;/i&gt; song2.ogg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-music blue&quot;&gt;&lt;/i&gt; song3.ogg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-music blue&quot;&gt;&lt;/i&gt; song4.ogg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-music blue&quot;&gt;&lt;/i&gt; song5.ogg&#39;, type: &#39;item&#39; }
    ]
}
tree_data_2[&#39;video&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: [
        { name: &#39;&lt;i class=&quot;icon-film blue&quot;&gt;&lt;/i&gt; movie1.avi&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-film blue&quot;&gt;&lt;/i&gt; movie2.avi&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-film blue&quot;&gt;&lt;/i&gt; movie3.avi&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-film blue&quot;&gt;&lt;/i&gt; movie4.avi&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-film blue&quot;&gt;&lt;/i&gt; movie5.avi&#39;, type: &#39;item&#39; }
    ]
}
tree_data_2[&#39;pictures&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: {
        &#39;wallpapers&#39;: { name: &#39;Wallpapers&#39;, type: &#39;folder&#39;, &#39;icon-class&#39;: &#39;pink&#39; },
        &#39;camera&#39;: { name: &#39;Camera&#39;, type: &#39;folder&#39;, &#39;icon-class&#39;: &#39;pink&#39; }
    }
}
tree_data_2[&#39;pictures&#39;][&#39;additionalParameters&#39;][&#39;children&#39;][&#39;wallpapers&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: [
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; wallpaper1.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; wallpaper2.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; wallpaper3.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; wallpaper4.jpg&#39;, type: &#39;item&#39; }
    ]
}
tree_data_2[&#39;pictures&#39;][&#39;additionalParameters&#39;][&#39;children&#39;][&#39;camera&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: [
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; photo1.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; photo2.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; photo3.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; photo4.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; photo5.jpg&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-picture green&quot;&gt;&lt;/i&gt; photo6.jpg&#39;, type: &#39;item&#39; }
    ]
}
tree_data_2[&#39;documents&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: [
        { name: &#39;&lt;i class=&quot;icon-file-text red&quot;&gt;&lt;/i&gt; document1.pdf&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-file-text grey&quot;&gt;&lt;/i&gt; document2.doc&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-file-text grey&quot;&gt;&lt;/i&gt; document3.doc&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-file-text red&quot;&gt;&lt;/i&gt; document4.pdf&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-file-text grey&quot;&gt;&lt;/i&gt; document5.doc&#39;, type: &#39;item&#39; }
    ]
}
tree_data_2[&#39;backup&#39;][&#39;additionalParameters&#39;] = {
    &#39;children&#39;: [
        { name: &#39;&lt;i class=&quot;icon-archive brown&quot;&gt;&lt;/i&gt; backup1.zip&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-archive brown&quot;&gt;&lt;/i&gt; backup2.zip&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-archive brown&quot;&gt;&lt;/i&gt; backup3.zip&#39;, type: &#39;item&#39; },
        { name: &#39;&lt;i class=&quot;icon-archive brown&quot;&gt;&lt;/i&gt; backup4.zip&#39;, type: &#39;item&#39; }
    ]
}
var treeDataSource2 = new DataSourceTree({ data: tree_data_2 });
</code></pre>
        </div>
    </div>
</div>

<a href="http://exacttarget.github.io/fuelux/javascript.html#tree" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on fuelux</a>