<div tabset class="example">
  <div tab heading="HTML" class="tab-pane active">
<pre><code gnap-highlight>&lt;div ng-controller=&quot;gnap-success-notification&quot;&gt;
    &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;notify()&quot;&gt;Click Me!&lt;/button&gt;
    &lt;button class=&quot;btn btn-default&quot; ng-click=&quot;remove()&quot;&gt;Remove Notification&lt;/button&gt;
&lt;/div&gt;</code></pre>
  </div>
  <div tab heading="JavaScript" class="tab-pane">
<pre><code gnap-highlight>angular
    .module(&#39;gnap-example-app&#39;)
    .controller(&#39;gnap-success-notification&#39;, function($scope, notification) {
        $scope.notify = function() {
            notification.show({
                type: &#39;success&#39;,
                title: &#39;This is a success notification&#39;,
                text: &#39;This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et, nascetur ridiculus mus.&#39;
            });
        };
    });</code></pre>
  </div>
</div>

<a example-link source="gnap-theme-angular"></a>