<div tabset class="example">
  <div tab heading="HTML" class="tab-pane in active">
<pre><code gnap-highlight>&lt;div ng-controller=&quot;gnap-stacked-progressbar as vm&quot;&gt;
    &lt;input ng-repeat=&quot;bar in vm.collection track by $index&quot; type=&quot;text&quot; ng-model=&quot;bar.value&quot;&gt;
    &lt;hr&gt;
    &lt;div progress class=&quot;progress-small progress-striped active&quot;&gt;
        &lt;div bar ng-repeat=&quot;bar in vm.collection track by $index&quot; value=&quot;bar.value&quot; type=&quot;&#123;&#123;bar.type&#125;&#125;&quot;&gt;
            &lt;span&gt;&#123;&#123;bar.value&#125;&#125;%&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>
  <div tab heading="JavaScript" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .controller(&#39;gnap-stacked-progressbar&#39;, GnapStackedProgressbarController);

    GnapStackedProgressbarController.$inject = [];

    function GnapStackedProgressbarController() {
        var vm = this;

        vm.collection = [];

        vm.collection.push({
            value: 20,
            type: &#39;success&#39;
        });

        vm.collection.push({
            value: 15,
            type: &#39;warning&#39;
        });

        vm.collection.push({
            value: 25,
            type: &#39;error&#39;
        });
    };
})();</code></pre>
  </div>
</div>

<a example-link source="ui-bootstrap"></a>