.sidebar-shortcuts-large>.btn {
    margin-left: 3px;
}

.sidebar-shortcuts-large>.btn:first-child  {
    margin-left: 0px;
}

ul.breadcrumb>li {
    margin-left: 3px;
}

ul.breadcrumb>li:first-child  {
    margin-left: 0px;
}

.nav-list>li .submenu, .nav-list>li>.submenu li>.submenu {
    display: block;
}

.datepicker-day {
	color: black;
	background-color: transparent;
	border: 0px;
}

.datepicker-day:hover {
	border: 0px;
}

.datepicker-day.active span.text-info,
.datepicker-day.active {
	color: white !important;
	border: 0px;
}

.datepicker-cell {
	padding: 0px;
    height: 30px !important;
    width: 35px !important;
}

.datepicker-cell:hover {
	background-color: #eeeeee;
}

button.datepicker-day {
    background-color: transparent !important;
}

div.daterangepicker-datepicker {
	display: inline-block;
	border: 1px solid #eeeeee;
	margin: 4px 8px 0px 0px;
}

div.daterangepicker-from-to {
	display: inline-block;
	border: 1px solid #ffffff;
	margin: 4px 4px 4px 4px;
}