<div style="clear: both;"></div>
<pre class="example"><code class="html">
&lt;ul class=&quot;ace-thumbnails&quot;&gt;
    &lt;li&gt;
        &lt;a href=&quot;images/gallery/image-1.jpg&quot; title=&quot;Photo Title&quot; data-rel=&quot;colorbox&quot;&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-1.jpg&quot; /&gt;
            &lt;div class=&quot;tags&quot;&gt;
                &lt;span class=&quot;label-holder&quot;&gt;
                    &lt;span class=&quot;label label-info&quot;&gt;breakfast&lt;/span&gt;
                &lt;/span&gt;

                &lt;span class=&quot;label-holder&quot;&gt;
                    &lt;span class=&quot;label label-danger&quot;&gt;fruits&lt;/span&gt;
                &lt;/span&gt;

                &lt;span class=&quot;label-holder&quot;&gt;
                    &lt;span class=&quot;label label-success&quot;&gt;toast&lt;/span&gt;
                &lt;/span&gt;

                &lt;span class=&quot;label-holder&quot;&gt;
                    &lt;span class=&quot;label label-warning arrowed-in&quot;&gt;diet&lt;/span&gt;
                &lt;/span&gt;
            &lt;/div&gt;
        &lt;/a&gt;

        &lt;div class=&quot;tools&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-link&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-paper-clip&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-remove red&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/li&gt;

    &lt;li&gt;
        &lt;a href=&quot;images/gallery/image-2.jpg&quot; data-rel=&quot;colorbox&quot;&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-2.jpg&quot; /&gt;
            &lt;div class=&quot;text&quot;&gt;
                &lt;div class=&quot;inner&quot;&gt;Sample Caption on Hover&lt;/div&gt;
            &lt;/div&gt;
        &lt;/a&gt;
    &lt;/li&gt;

    &lt;li&gt;
        &lt;a href=&quot;images/gallery/image-3.jpg&quot; data-rel=&quot;colorbox&quot;&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-3.jpg&quot; /&gt;
            &lt;div class=&quot;text&quot;&gt;
                &lt;div class=&quot;inner&quot;&gt;Sample Caption on Hover&lt;/div&gt;
            &lt;/div&gt;
        &lt;/a&gt;

        &lt;div class=&quot;tools tools-bottom&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-link&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-paper-clip&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-remove red&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/li&gt;

    &lt;li&gt;
        &lt;a href=&quot;images/gallery/image-4.jpg&quot; data-rel=&quot;colorbox&quot;&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-4.jpg&quot; /&gt;
            &lt;div class=&quot;tags&quot;&gt;
                &lt;span class=&quot;label-holder&quot;&gt;
                    &lt;span class=&quot;label label-info arrowed&quot;&gt;fountain&lt;/span&gt;
                &lt;/span&gt;

                &lt;span class=&quot;label-holder&quot;&gt;
                    &lt;span class=&quot;label label-danger&quot;&gt;recreation&lt;/span&gt;
                &lt;/span&gt;
            &lt;/div&gt;
        &lt;/a&gt;

        &lt;div class=&quot;tools tools-top&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-link&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-paper-clip&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-remove red&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/li&gt;

    &lt;li&gt;
        &lt;div&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-5.jpg&quot; /&gt;
            &lt;div class=&quot;text&quot;&gt;
                &lt;div class=&quot;inner&quot;&gt;
                    &lt;span&gt;Some Title!&lt;/span&gt;
                    &lt;br /&gt;
                    &lt;a href=&quot;images/gallery/image-5.jpg&quot; data-rel=&quot;colorbox&quot;&gt;&lt;i class=&quot;icon-zoom-in&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                    &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-user&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                    &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-share-alt&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/li&gt;

    &lt;li&gt;
        &lt;a href=&quot;images/gallery/image-6.jpg&quot; data-rel=&quot;colorbox&quot;&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-6.jpg&quot; /&gt;
        &lt;/a&gt;

        &lt;div class=&quot;tools tools-right&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-link&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-paper-clip&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-remove red&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/li&gt;

    &lt;li&gt;
        &lt;a href=&quot;images/gallery/image-1.jpg&quot; data-rel=&quot;colorbox&quot;&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-1.jpg&quot; /&gt;
        &lt;/a&gt;

        &lt;div class=&quot;tools&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-link&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-paper-clip&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-remove red&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/li&gt;

    &lt;li&gt;
        &lt;a href=&quot;images/gallery/image-2.jpg&quot; data-rel=&quot;colorbox&quot;&gt;
            &lt;img alt=&quot;&quot; src=&quot;images/gallery/thumb-2.jpg&quot; /&gt;
        &lt;/a&gt;

        &lt;div class=&quot;tools tools-top&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-link&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-paper-clip&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-remove red&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<a href="http://www.jacklmoore.com/colorbox/" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on colorbox</a>