<div tabset class="example">
  <div tab heading="HTML" class="tab-pane active">
<pre><code gnap-highlight>&lt;div ng-controller=&quot;gnap-buttons&quot;&gt;
    &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;primary()&quot;&gt;Primary&lt;/button&gt;
    &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;primary()&quot;&gt;
        &lt;i class=&quot;icon-cog&quot;&gt;&lt;/i&gt;
        Primary
    &lt;/button&gt;
&lt;/div&gt;</code></pre>
  </div>
  <div tab heading="JavaScript" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .controller(&#39;gnap-buttons&#39;, GnapButtonsController);

    GnapButtonsController.$inject = [&#39;$scope&#39;];

    function GnapButtonsController($scope) {
        $scope.primary = function () {
            alert(&#39;You clicked a primary button&#39;);
        };
    };
})();</code></pre>
  </div>
</div>

<a example-link source="bootstrap" href="http://getbootstrap.com/css/#buttons"></a>