<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExampleHttpServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <ExampleHttpServer.Properties.Settings>
      <setting name="Issuer" serializeAs="String">
        <value>urn:example</value>
      </setting>
      <setting name="Audience" serializeAs="String">
        <value>urn:example</value>
      </setting>
      <setting name="TokenSigningKey" serializeAs="String">
        <value>U0lHTklOR19LRVlfR09FU19IRVJF</value>
      </setting>
      <setting name="DummyUser" serializeAs="String">
        <value>john</value>
      </setting>
      <setting name="DummyPass" serializeAs="String">
        <value>1234</value>
      </setting>
    </ExampleHttpServer.Properties.Settings>
  </applicationSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>