<pre class="example"><code class="html">
&lt;div class=&quot;alert alert-block alert-success&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;
        &lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt;
    &lt;/button&gt;
    &lt;strong&gt;
        Well done!
    &lt;/strong&gt;
    You successfully read this important alert message.
&lt;/div&gt;
</code></pre>