<div class="tabbable example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#html-alert-dialog">
                <i></i>
                HTML
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#javascript-alert-dialog">
                JavaScript
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="html-alert-dialog" class="tab-pane in active">
            <pre><code class="html">
&lt;button class=&quot;btn btn-primary&quot; id=&quot;bootbox-alert&quot;&gt;Click Me!&lt;/button&gt;
</code></pre>
        </div>
        <div id="javascript-alert-dialog" class="tab-pane">
            <pre><code class="javascript">
$(&#39;#bootbox-alert&#39;).on(ace.click_event, function () {
    bootbox.alert(&#39;Hello World!&#39;, function () {});
});
</code></pre>
        </div>
    </div>
</div>
