<pre class="example"><code class="html">
&lt;div class=&quot;alert alert-warning&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;
        &lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt;
    &lt;/button&gt;
    &lt;strong&gt;
        Warning!
    &lt;/strong&gt;
    Best check your self, you&#39;re not looking too good.
&lt;/div&gt;
</code></pre>