<pre class="example"><code class="html">
&lt;button class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot;&gt;
    &lt;i class=&quot;icon-cog&quot;&gt;&lt;/i&gt;
    Primary
&lt;/button&gt;
</code></pre>

<a href="http://getbootstrap.com/css/#buttons" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>