<pre class="example"><code class="html">
&lt;button class=&quot;btn btn-primary disabled&quot;&gt;Disabled Primary&lt;/button&gt;
&lt;button class=&quot;btn btn-default disabled&quot;&gt;Disabled Default&lt;/button&gt;
</code></pre>

<a href="http://getbootstrap.com/css/#buttons-disabled" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>