<pre class="example"><code class="html">
&lt;button class=&quot;btn btn-primary&quot;&gt;Save&lt;/button&gt;
&lt;button class=&quot;btn btn-default&quot;&gt;Cancel&lt;/button&gt;
</code></pre>

<a href="http://getbootstrap.com/css/#buttons" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>