<pre class="example"><code class="html">
&lt;button class=&quot;btn btn-primary&quot; data-rel=&quot;tooltip&quot; title=&quot;This is a default tooltip!&quot;&gt;Default tooltip&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; data-rel=&quot;tooltip&quot; data-placement=&quot;left&quot; title=&quot;This is a tooltip on the left!&quot;&gt;Left tooltip&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; data-rel=&quot;tooltip&quot; data-placement=&quot;right&quot; title=&quot;This is a tooltip on the right!&quot;&gt;Right tooltip&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; data-rel=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;This is a tooltip on top!&quot;&gt;Top tooltip&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; data-rel=&quot;tooltip&quot; data-placement=&quot;bottom&quot; title=&quot;This is a tooltip at the bottom!&quot;&gt;Bottom tooltip&lt;/button&gt;
</code></pre>