<pre class="example"><code class="html">
&lt;button class=&quot;btn btn-primary btn-minier&quot;&gt;Tiny&lt;/button&gt;
&lt;button class=&quot;btn btn-primary btn-xs&quot;&gt;Mini&lt;/button&gt;
&lt;button class=&quot;btn btn-primary btn-sm&quot;&gt;Small&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot;&gt;Default&lt;/button&gt;
&lt;button class=&quot;btn btn-primary btn-lg&quot;&gt;Large&lt;/button&gt;
</code></pre>