<pre class="example"><code class="html">
&lt;label&gt;
    &lt;input name=&quot;switch-field-1&quot; class=&quot;ace ace-switch ace-switch-6&quot; type=&quot;checkbox&quot; /&gt;
    &lt;span class=&quot;lbl&quot;&gt;&lt;/span&gt;
&lt;/label&gt;

&lt;label&gt;
    &lt;input name=&quot;switch-field-2&quot; class=&quot;ace ace-switch ace-switch-7&quot; type=&quot;checkbox&quot; /&gt;
    &lt;span class=&quot;lbl en&quot;&gt;&lt;/span&gt;
&lt;/label&gt;

&lt;label&gt;
    &lt;input name=&quot;switch-field-3&quot; class=&quot;ace ace-switch ace-switch-7&quot; type=&quot;checkbox&quot; /&gt;
    &lt;span class=&quot;lbl fr&quot;&gt;&lt;/span&gt;
&lt;/label&gt;

&lt;label&gt;
    &lt;input name=&quot;switch-field-4&quot; class=&quot;ace ace-switch ace-switch-7&quot; type=&quot;checkbox&quot; /&gt;
    &lt;span class=&quot;lbl nl&quot;&gt;&lt;/span&gt;
&lt;/label&gt;
</code></pre>