<pre class="example"><code class="html">
&lt;input type=&quot;text&quot; placeholder=&quot;Username&quot; class=&quot;col-xs-10 col-sm-5&quot; /&gt;
</code></pre>

<a href="http://getbootstrap.com/css/#forms" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>