<pre class="example"><code class="html">
&lt;select multiple=&quot;multiple&quot; class=&quot;select2 col-xs-10 col-sm-5&quot;&gt;
    &lt;option value=&quot;AL&quot;&gt;Alabama&lt;/option&gt;
    &lt;option value=&quot;AK&quot;&gt;Alaska&lt;/option&gt;
    ...
&lt;/select&gt;
</code></pre>

<a href="http://ivaynberg.github.io/select2/" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on select2</a>