<pre class="example"><code class="html">
&lt;input type=&quot;text&quot; class=&quot;col-xs-10 col-sm-5&quot; value=&quot;This text field is disabled!&quot; disabled=&quot;disabled&quot; /&gt;
</code></pre>