<div class="tabbable example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#html-textarea-with-character-limit">
                <i></i>
                HTML
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#javascript-textarea-with-character-limit">
                JavaScript
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="html-textarea-with-character-limit" class="tab-pane in active">
            <pre><code class="html">
&lt;div class=&quot;col-xs-10 col-sm-5 no-padding-left no-padding-right&quot;&gt;
    &lt;span id=&quot;limiterbox&quot; class=&quot;limiter-box&quot;&gt;&lt;/span&gt;
    &lt;textarea class=&quot;form-control limited&quot; id=&quot;form-field-9&quot; maxlength=&quot;50&quot;&gt;&lt;/textarea&gt;
&lt;/div&gt;
</code></pre>
        </div>
        <div id="javascript-textarea-with-character-limit" class="tab-pane">
            <pre><code class="javascript">
//for options, check following page http://rustyjeans.com/jquery-plugins/input-limiter
$(&#39;textarea.limited&#39;).inputlimiter({
    boxId: &#39;limiterbox&#39;,
    boxAttach: false,
    remTextHideOnBlur: false,
    remText: &#39;%n&#39;,
    limitTextShow: false
});
</code></pre>
        </div>
    </div>
</div>

<a href="http://getbootstrap.com/css/#forms" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>