<pre class="example"><code class="html">
&lt;div class=&quot;input-group bootstrap-timepicker col-xs-10 col-sm-5 no-padding-left no-padding-right&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control time-picker input-mask-time&quot; /&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;
        &lt;i class=&quot;icon-time bigger-110&quot;&gt;&lt;/i&gt;
    &lt;/span&gt;
&lt;/div&gt;
</code></pre>
