<div class="tabbable example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#html-textarea-with-character-limit">
                <i></i>
                HTML
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#javascript-textarea-with-character-limit">
                JavaScript
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="html-textarea-with-character-limit" class="tab-pane in active">
            <pre><code class="html">
&lt;div class=&quot;wysiwyg-editor&quot; id=&quot;editor1&quot;&gt;&lt;/div&gt;
</code></pre>
        </div>
        <div id="javascript-textarea-with-character-limit" class="tab-pane">
            <pre><code class="javascript">
function showErrorAlert (reason, detail) {
    var msg=&#39;&#39;;
    if (reason===&#39;unsupported-file-type&#39;) { msg = &quot;Unsupported format &quot; +detail; }
    else {
        console.log(&quot;error uploading file&quot;, reason, detail);
    }
    $(&#39;&lt;div class=&quot;alert&quot;&gt; &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;&amp;times;&lt;/button&gt;&#39;+ 
        &#39;&lt;strong&gt;File upload error&lt;/strong&gt; &#39;+msg+&#39; &lt;/div&gt;&#39;).prependTo(&#39;#alerts&#39;);
}
function supportsContentEditable() {
    //&quot;contentEditable&quot; in document.documentElement returns true in android 2
    var hasContentEditable = (&quot;contentEditable&quot; in document.documentElement);
    if (hasContentEditable) {
        var ua = navigator.userAgent;
        var match = ua.match(/Android\s([0-9\.]*)/);
        if (!match) return true;
        if (parseInt(match[1], 10) &lt; 4)
            return false;
        return true;
    }
    return false;
};
if (supportsContentEditable()) {
    $(&#39;#editor1&#39;).ace_wysiwyg(
    {
        &#39;wysiwyg&#39;: { fileUploadError: showErrorAlert }
    }).prev().addClass(&#39;wysiwyg-style1&#39;);
} else {
    $(&#39;#editor1&#39;).text(&quot;WSYWIG Feature not supported&quot;);
}
</code></pre>
        </div>
    </div>
</div>
