<pre class="example"><code class="html">
&lt;select class=&quot;width-80 chosen-select col-xs-10 col-sm-5&quot; data-placeholder=&quot;Choose a Country...&quot;&gt;
    &lt;option value=&quot;&quot;&gt;&amp;nbsp;&lt;/option&gt;
    &lt;option value=&quot;AL&quot;&gt;Alabama&lt;/option&gt;                                   
    ...
&lt;/select&gt;
</code></pre>