<div class="tabbable example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#html-file-input">
                <i></i>
                HTML
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#javascript-file-input">
                JavaScript
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="html-file-input" class="tab-pane in active">
            <pre><code class="html">
&lt;div class=&quot;col-xs-10 col-sm-5 no-padding-left no-padding-right&quot;&gt;
    &lt;input type=&quot;file&quot; id=&quot;id-input-file-2&quot; /&gt;
&lt;/div&gt;
</code></pre>
        </div>
        <div id="javascript-file-input" class="tab-pane">
            <pre><code class="javascript">
$(&#39;#id-input-file-2&#39;).ace_file_input({
    no_file: &#39;No File ...&#39;,
    btn_choose: &#39;Choose&#39;,
    btn_change: &#39;Change&#39;,
    droppable: false,
    onchange: null,
    thumbnail: false //| true | large
    //whitelist:&#39;gif|png|jpg|jpeg&#39;
    //blacklist:&#39;exe|php&#39;
    //onchange:&#39;&#39;
    //
});
</code></pre>
        </div>
    </div>
</div>
