<div class="tabbable example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#html-masked-field">
                <i></i>
                HTML
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#javascript-masked-field">
                JavaScript
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="html-masked-field" class="tab-pane in active">
            <pre><code class="html">
&lt;input class=&quot;col-xs-10 col-sm-5 input-mask-product&quot; type=&quot;text&quot; id=&quot;form-field-mask-3&quot; /&gt;
&lt;span class=&quot;help-inline col-xs-12 col-sm-7&quot;&gt;
    a*-999-a999
&lt;/span&gt;
</code></pre>
        </div>
        <div id="javascript-masked-field" class="tab-pane">
            <pre><code class="javascript">
$(&#39;.input-mask-product&#39;).mask(&#39;a*-999-a999&#39;, { placeholder: &#39; &#39;, completed: function() { alert(&#39;You typed the following: &#39; + this.val()); } });
</code></pre>
        </div>
    </div>
</div>
