<pre class="example"><code class="html">
&lt;div class=&quot;input-group col-xs-10 col-sm-5 no-padding-left no-padding-right&quot;&gt;
    &lt;input class=&quot;form-control date-picker input-mask-date&quot; type=&quot;text&quot; data-date-format=&quot;dd-mm-yyyy&quot; /&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;
        &lt;i class=&quot;icon-calendar bigger-110&quot;&gt;&lt;/i&gt;
    &lt;/span&gt;
&lt;/div&gt;
</code></pre>
