<pre class="example"><code class="html">
&lt;span class=&quot;label label-primary&quot;&gt;Default&lt;/span&gt;
&lt;span class=&quot;label label-success arrowed&quot;&gt;Success&lt;/span&gt;
</code></pre>