<pre class="example"><code class="html">
&lt;ul class=&quot;pagination&quot;&gt;
    &lt;li class=&quot;disabled&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;
            &lt;i class=&quot;icon-double-angle-left&quot;&gt;&lt;/i&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;disabled&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;
            &lt;i class=&quot;icon-angle-left&quot;&gt;&lt;/i&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href=&quot;#&quot;&gt;
            &lt;i class=&quot;icon-angle-right&quot;&gt;&lt;/i&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href=&quot;#&quot;&gt;
            &lt;i class=&quot;icon-double-angle-right&quot;&gt;&lt;/i&gt;
        &lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>