<pre class="example"><code class="html">
&lt;div class=&quot;progress progress-small&quot;&gt;
    &lt;div class=&quot;progress-bar progress-bar-striped progress-bar-success&quot; style=&quot;width: 35%&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;progress-bar progress-bar-striped progress-bar-warning&quot; style=&quot;width: 20%&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;progress-bar progress-bar-striped progress-bar-danger&quot; style=&quot;width: 10%&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>

<a href="http://getbootstrap.com/components/#progress-stacked" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>