<pre class="example"><code class="html">
&lt;div class=&quot;tabbable&quot;&gt;
    &lt;ul class=&quot;nav nav-tabs&quot; id=&quot;myTab&quot;&gt;
        &lt;li class=&quot;active&quot;&gt;
            &lt;a data-toggle=&quot;tab&quot; href=&quot;#home&quot;&gt;
                &lt;i&gt;&lt;/i&gt;
                Home
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a data-toggle=&quot;tab&quot; href=&quot;#profile&quot;&gt;
                Messages
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class=&quot;tab-content&quot;&gt;
        &lt;div id=&quot;home&quot; class=&quot;tab-pane in active&quot;&gt;
            &lt;p&gt;
                Here is an example of the basic tabs that we have to use
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div id=&quot;profile&quot; class=&quot;tab-pane&quot;&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis neque id leo tincidunt, vel interdum tortor egestas. Quisque at massa sit amet nisl placerat euismod sit amet non leo. Suspendisse egestas, leo id scelerisque euismod, massa sapien feugiat mi, at pulvinar lorem est sit amet est.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<a href="http://getbootstrap.com/components/#nav-tabs" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>