<pre class="example"><code class="html">
&lt;div class=&quot;table-responsive&quot;&gt;
    &lt;table class=&quot;table table-striped table-bordered table-hover&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Domain&lt;/th&gt;
                &lt;th&gt;Price&lt;/th&gt;
                &lt;th class=&quot;hidden-480&quot;&gt;Clicks&lt;/th&gt;
                &lt;th&gt;
                    &lt;i class=&quot;icon-time bigger-110 hidden-480&quot;&gt;&lt;/i&gt;
                    Update
                &lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;
                    &lt;a href=&quot;#&quot;&gt;ace.com&lt;/a&gt;
                &lt;/td&gt;
                &lt;td&gt;$45&lt;/td&gt;
                &lt;td class=&quot;hidden-480&quot;&gt;3,330&lt;/td&gt;
                &lt;td&gt;Feb 12&lt;/td&gt;
            &lt;/tr&gt;
   
            ...
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
</code></pre>

<a href="http://getbootstrap.com/css/#tables" class="label label-default" target="_blank"><i class="icon-external-link"></i>&nbsp; View on bootstrap</a>