<div tabset class="example">
  <div tab heading="HTML" class="tab-pane in active">
<pre><code class="html">&lt;div ng-controller=&quot;gnap-stacked-progressbar&quot;&gt;
    &lt;input ng-repeat=&quot;bar in collection track by $index&quot; type=&quot;text&quot; ng-model=&quot;bar.value&quot;&gt;
    &lt;hr&gt;
    &lt;div progress class=&quot;progress-small progress-striped active&quot;&gt;
        &lt;div bar ng-repeat=&quot;bar in collection track by $index&quot; value=&quot;bar.value&quot; type=&quot;{{bar.type}}&quot;&gt;
            &lt;span&gt;{{bar.value}}%&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>
  <div tab heading="JavaScript" class="tab-pane">
<pre><code class="javascript">angular
    .module(&#39;gnap-app&#39;)
    .controller(&#39;gnap-stacked-progressbar&#39;, function($scope) {
        $scope.collection = [];

        $scope.collection.push({
            value: 20,
             type: &#39;success&#39;
        });

        $scope.collection.push({
            value: 15,
            type: &#39;warning&#39;
        });

        $scope.collection.push({
            value: 25,
            type: &#39;error&#39;
        });
    });</code></pre>
  </div>
</div>

<a example-link source="ui-bootstrap"></a>