<a data-toggle="dropdown" class="dropdown-toggle" ng-show="vm.isAuthenticated">
    <span class="icon-user">&nbsp;</span>

    <span class="user-info">
        <small>{{ 'welcome' | translate }},</small>
        {{ vm.name }}
    </span>

    <i class="icon-caret-down"></i>
</a>

<ul role="menu" class="user-menu pull-right dropdown-menu dropdown-default dropdown-caret dropdown-close">
    <li>
        <a href="#">
            <i class="icon-cog"></i>
            Settings
        </a>
    </li>

    <li>
        <a href="#">
            <i class="icon-user"></i>
            Profile
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a ng-click="vm.logout()">
            <i class="icon-off"></i>
            Logout
        </a>
    </li>
</ul>

<a ng-click="vm.login()" ng-hide="vm.isAuthenticated">
    <span class="icon-key">&nbsp;</span>
    {{ 'login' | translate }}
</a>
