<div tabset class="example">
    <div tab heading="HTML" class="tab-pane in active">
<pre><code gnap-highlight>&lt;div class=&quot;table-header&quot;&gt;
    A Table Title
&lt;/div&gt;
&lt;div class=&quot;table-responsive&quot; ng-controller=&quot;gnap-full-table&quot;&gt;
    &lt;table datatable class=&quot;table table-striped table-bordered table-hover&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th class=&quot;center&quot;&gt;
                    &lt;label&gt;
                        &lt;input type=&quot;checkbox&quot; gnap-header-checkbox class=&quot;ace&quot; /&gt;
                        &lt;span class=&quot;lbl&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                &lt;/th&gt;
                &lt;th&gt;Domain&lt;/th&gt;
                &lt;th&gt;Price&lt;/th&gt;
                &lt;th class=&quot;hidden-480&quot;&gt;Clicks&lt;/th&gt;
                &lt;th&gt;
                    &lt;i class=&quot;icon-time bigger-110 hidden-480&quot;&gt;&lt;/i&gt;
                    Update
                &lt;/th&gt;
                &lt;th class=&quot;hidden-480&quot;&gt;Status&lt;/th&gt;
                &lt;th&gt;&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr ng-repeat=&quot;domain in domains&quot;&gt;
                &lt;td class=&quot;center&quot;&gt;
                    &lt;label&gt;
                        &lt;input type=&quot;checkbox&quot; class=&quot;ace&quot; /&gt;
                        &lt;span class=&quot;lbl&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                &lt;/td&gt;
                &lt;td&gt;
                    &lt;a ng-click=&quot;view(domain)&quot;&gt;{{ domain.domain }}&lt;/a&gt;
                &lt;/td&gt;
                &lt;td&gt;{{ domain.price }}&lt;/td&gt;
                &lt;td class=&quot;hidden-480&quot;&gt;{{ domain.clicks }}&lt;/td&gt;
                &lt;td&gt;{{ domain.update }}&lt;/td&gt;
                &lt;td class=&quot;hidden-480&quot;&gt;{{ domain.status }}&lt;/td&gt;
                &lt;td&gt;
                    &lt;div class=&quot;visible-md visible-lg hidden-sm hidden-xs action-buttons&quot;&gt;
                        &lt;a class=&quot;blue&quot; ng-click=&quot;view(domain)&quot;&gt;
                            &lt;i class=&quot;icon-zoom-in bigger-130&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                        &lt;a class=&quot;green&quot; ng-click=&quot;edit(domain)&quot;&gt;
                            &lt;i class=&quot;icon-pencil bigger-130&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                        &lt;a class=&quot;red&quot; ng-bootbox-confirm=&quot;Can I delete it ?&quot; ng-bootbox-confirm-action=&quot;delete(domain)&quot;&gt;
                            &lt;i class=&quot;icon-trash bigger-130&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;visible-xs visible-sm hidden-md hidden-lg&quot;&gt;
                        &lt;div class=&quot;inline position-relative&quot;&gt;
                            &lt;button class=&quot;btn btn-minier btn-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;
                                &lt;i class=&quot;icon-caret-down icon-only bigger-120&quot;&gt;&lt;/i&gt;
                            &lt;/button&gt;
                            &lt;ul class=&quot;dropdown-menu dropdown-only-icon pull-right dropdown-caret dropdown-close&quot;&gt;
                                &lt;li&gt;
                                    &lt;a tooltip=&quot;View&quot; ng-click=&quot;view(domain)&quot;&gt;
                                        &lt;span&gt;
                                            &lt;i class=&quot;icon-zoom-in bigger-120&quot;&gt;&lt;/i&gt;
                                        &lt;/span&gt;
                                    &lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;a tooltip=&quot;Edit&quot; ng-click=&quot;edit(domain)&quot;&gt;
                                        &lt;span&gt;
                                            &lt;i class=&quot;icon-edit bigger-120&quot;&gt;&lt;/i&gt;
                                        &lt;/span&gt;
                                    &lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;a ng-bootbox-confirm=&quot;Can I delete it ?&quot; ng-bootbox-confirm-action=&quot;delete(domain)&quot;&gt;
                                        &lt;span tooltip=&quot;Delete&quot;&gt;
                                            &lt;i class=&quot;icon-trash bigger-120&quot;&gt;&lt;/i&gt;
                                        &lt;/span&gt;
                                    &lt;/a&gt;
                                &lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</code></pre>
    </div>
    <div tab heading="Controller" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .controller(&#39;gnap-full-table&#39;, GnapFullTableController);

    GnapFullTableController.$inject = [&#39;$scope&#39;, &#39;Domain&#39;];

    function GnapFullTableController($scope, Domain) {
        Domain.query(function(domains) {
            $scope.domains = domains;
        });

        $scope.view = function(domain) {
            alert(&#39;Going to the view \&#39;&#39; + domain.domain + &#39;\&#39; page ...&#39;);
        };

        $scope.edit = function(domain) {
            alert(&#39;Going to the edit \&#39;&#39; + domain.domain + &#39;\&#39; page ...&#39;);
        };

        $scope.delete = function(domain) {
            alert(&#39;Logic to delete \&#39;&#39; + domain.domain + &#39;\&#39; should be executed now ...&#39;);
        }
    };
})();</code></pre>
    </div>
    <div tab heading="Resource" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .factory(&#39;Domain&#39;, Domain);

    Domain.$inject = [&#39;$resource&#39;];

    function Domain($resource) {
        return $resource(&#39;app/main/examples/tables/domains.json&#39;);
    };
})();</code></pre>
    </div>
    <div tab heading="Data" class="tab-pane">
<pre><code gnap-highlight>[
    {
        "domain": "app.com",
        "price": "$45",
        "clicks": "3,330",
        "update": "Feb 12",
        "status": "Expiring"
    },
    {
        "domain": "base.com",
        "price": "$35",
        "clicks": "2,595",
        "update": "Feb 18",
        "status": "Registered"
    },
    {
        "domain": "max.com",
        "price": "$60",
        "clicks": "4,400",
        "update": "Mar 11",
        "status": "Expiring"
    },
    {
        "domain": "best.com",
        "price": "$75",
        "clicks": "6,500",
        "update": "Apr 03",
        "status": "Flagged"
    },
    {
        "domain": "pro.com",
        "price": "$55",
        "clicks": "4,250",
        "update": "Jan 21",
        "status": "Flagged"
    }
]</code></pre>
    </div>
</div>

<a example-link source="angular-datatables" href="http://l-lin.github.io/angular-datatables"></a>