<div tabset class="example">
    <div tab heading="HTML" class="tab-pane in active">
<pre><code gnap-highlight>&lt;div class=&quot;table-responsive&quot; ng-controller=&quot;gnap-standard-table as vm&quot;&gt;
    &lt;table class=&quot;table table-striped table-bordered table-hover&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Domain&lt;/th&gt;
                &lt;th&gt;Price&lt;/th&gt;
                &lt;th class=&quot;hidden-480&quot;&gt;Clicks&lt;/th&gt;
                &lt;th&gt;
                    &lt;i class=&quot;icon-time bigger-110 hidden-480&quot;&gt;&lt;/i&gt;
                    Update
                &lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr ng-repeat=&quot;domain in vm.domains&quot;&gt;
                &lt;td&gt;
                    &lt;a ng-click=&quot;vm.view(domain)&quot;&gt;{{ domain.domain }}&lt;/a&gt;
                &lt;/td&gt;
                &lt;td&gt;{{ domain.price }}&lt;/td&gt;
                &lt;td class=&quot;hidden-480&quot;&gt;{{ domain.clicks }}&lt;/td&gt;
                &lt;td&gt;{{ domain.update }}&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</code></pre>
    </div>
    <div tab heading="Controller" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .controller(&#39;gnap-standard-table&#39;, GnapStandardTableController);

    GnapStandardTableController.$inject = [&#39;Domain&#39;];

    function GnapStandardTableController(Domain) {
        var vm = this;

        Domain.query(function(domains) {
            vm.domains = domains;
        });
    
        vm.view = function (domain) {
            alert('Going to the view \'' + domain.domain + '\' page ...');
        };
    };
})();</code></pre>
    </div>
    <div tab heading="Resource" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .factory(&#39;Domain&#39;, Domain);

    Domain.$inject = [&#39;$resource&#39;];

    function Domain($resource) {
        return $resource(&#39;app/main/examples/tables/domains.json&#39;);
    };
})();</code></pre>
    </div>
    <div tab heading="Data" class="tab-pane">
<pre><code gnap-highlight>[
    {
        "domain": "app.com",
        "price": "$45",
        "clicks": "3,330",
        "update": "Feb 12",
        "status": "Expiring"
    },
    {
        "domain": "base.com",
        "price": "$35",
        "clicks": "2,595",
        "update": "Feb 18",
        "status": "Registered"
    },
    {
        "domain": "max.com",
        "price": "$60",
        "clicks": "4,400",
        "update": "Mar 11",
        "status": "Expiring"
    },
    {
        "domain": "best.com",
        "price": "$75",
        "clicks": "6,500",
        "update": "Apr 03",
        "status": "Flagged"
    },
    {
        "domain": "pro.com",
        "price": "$55",
        "clicks": "4,250",
        "update": "Jan 21",
        "status": "Flagged"
    }
]</code></pre>
    </div>
</div>

<a example-link source="bootstrap" href="http://getbootstrap.com/css/#tables"></a>