<div class="login-container">
    <div class="center">
        <h3 class="theme_color">
            <i class="team-logo-login"></i>
            Application name
        </h3>
    </div>

    <div class="space-6"></div>

    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header theme_color lighter bigger">
                        <i class="icon-key theme_color"></i>
                        Please Enter Your Information
                    </h4>

                    <div class="space-6"></div>

                    <form gnap-submit="vm.login()">
                        <div alert type="danger" ng-show="vm.invalidCredentials">Invalid username/password combination.</div>
                        <fieldset>
                            <div gnap-show-validity for="username" class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" ng-model="vm.credentials.username" class="form-control" placeholder="Username" id="username" name="username" required />
                                    <i class="icon-user"></i>
                                </span>
                                <div gnap-validation-messages for="username">
                                    <div gnap-validation-message when="required">Enter your username</div>
                                </div>
                            </div>

                            <div gnap-show-validity for="password" class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" ng-model="vm.credentials.password" class="form-control" placeholder="Password" id="password" name="password" required />
                                    <i class="icon-lock"></i>
                                </span>
                                <div gnap-validation-messages for="password">
                                    <div gnap-validation-message when="required">Enter your password</div>
                                </div>
                            </div>

                            <div class="space"></div>

                            <div class="clearfix">
                                <label class="inline">
                                    <input type="checkbox" ng-model="vm.credentials.remember" class="ace" />
                                    <span class="lbl"> Remember Me</span>
                                </label>

                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                    <i class="icon-key"></i>
                                    Login
                                </button>
                            </div>

                            <div class="space-4"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>