<div tabset class="example">
  <div tab heading="HTML" class="tab-pane active">
<pre><code gnap-highlight>&lt;div ng-controller=&quot;gnap-custom-dialog as vm&quot;&gt;
    &lt;script type=&quot;text/ng-template&quot; id=&quot;myModalContent.html&quot;&gt;
        &lt;div class=&quot;modal-header&quot;&gt;
            &lt;h3 class=&quot;modal-title&quot;&gt;I am a modal!&lt;/h3&gt;
        &lt;/div&gt;
        &lt;div class=&quot;modal-body&quot;&gt;
            &lt;ul&gt;
                &lt;li ng-repeat=&quot;item in vm.items&quot;&gt;
                    &lt;a ng-click=&quot;vm.selected.item = item&quot;&gt;&#123;&#123; item &#125;&#125;&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
           Selected: &lt;b&gt;&#123;&#123; vm.selected.item &#125;&#125;&lt;/b&gt;
        &lt;/div&gt;
        &lt;div class=&quot;modal-footer&quot;&gt;
            &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;vm.ok()&quot;&gt;OK&lt;/button&gt;
            &lt;button class=&quot;btn btn-warning&quot; ng-click=&quot;vm.cancel()&quot;&gt;Cancel&lt;/button&gt;
        &lt;/div&gt;
    &lt;/script&gt;

    &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;vm.open()&quot;&gt;click Me!&lt;/button&gt;
&lt;/div&gt;</code></pre>
  </div>
  <div tab heading="JavaScript" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .controller(&#39;gnap-custom-dialog&#39;, GnapCustomDialogController)
        .controller(&#39;gnap-custom-dialog-instance&#39;, GnapCustomDialogInstanceController);

    GnapCustomDialogController.$inject = [&#39;$modal&#39;];
    GnapCustomDialogInstanceController.$inject = [&#39;$modalInstance&#39;, &#39;items&#39;];

    function GnapCustomDialogController($modal) {
        var vm = this;

        vm.items = [&#39;item1&#39;, &#39;item2&#39;, &#39;item3&#39;];

        vm.open = function (size) {
            var modalInstance = $modal.open({
                templateUrl: &#39;myModalContent.html&#39;,
                controller: &#39;gnap-custom-dialog-instance as vm&#39;,
                resolve: {
                    items: function () {
                        return vm.items;
                    }
                }
            });

            modalInstance.result.then(function (result) {
                alert(&#39;You selected: &#39; + result);
            }, function () {
                alert(&#39;You dismissed the dialog!&#39;);
            });
        };
    };

    function GnapCustomDialogInstanceController($modalInstance, items) {
        var vm = this;

        vm.items = items;

        vm.selected = {
            item: vm.items[0]
        };

        vm.ok = function () {
            $modalInstance.close(vm.selected.item);
        };

        vm.cancel = function () {
            $modalInstance.dismiss(&#39;cancel&#39;);
        };
    };
})();</code></pre>
  </div>
</div>

<a example-link source="ngBootbox"></a>