<div tabset class="example">
  <div tab heading="HTML" class="tab-pane active">
<pre><code gnap-highlight>&lt;div ng-controller=&quot;gnap-default-notification as vm&quot;&gt;
    &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;vm.notify()&quot;&gt;Click Me!&lt;/button&gt;
    &lt;button class=&quot;btn btn-default&quot; ng-click=&quot;vm.remove()&quot;&gt;Remove Notification&lt;/button&gt;
&lt;/div&gt;</code></pre>
  </div>
  <div tab heading="JavaScript" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .controller(&#39;gnap-default-notification&#39;, GnapDefaultNotificationController);

    GnapDefaultNotificationController.$inject = [&#39;notification&#39;];

    function GnapDefaultNotificationController(notification) {
        var vm = this;

        vm.notify = function () {
            notification.show({
                title: &#39;This is a default notification&#39;,
                text: &#39;This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et, nascetur ridiculus mus.&#39;
            });
        };

        vm.remove = function () {
            notification.removeAll();
        };
    };
})();</code></pre>
  </div>
</div>

<a example-link source="gnap-theme-angular"></a>