<a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>

<div class="sidebar" id="sidebar">
  {{> layout.sidenav.shortcuts}}

  <ul class="nav nav-list">
    {{#layout.sidenav_navList}}
    {{> layout.sidenav.items}}
    {{/layout.sidenav_navList}}
  </ul>

  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>
</div>