<div class="navbar navbar-default" id="navbar">
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="about.html" class="navbar-brand">
        <small>
          <i class="team-logo"></i>
          {{site.brand_text}}
        </small>
      </a>
    </div>

    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        {{> layout.topbar.user_menu}}
      </ul>
    </div>
  </div>
</div>