<div tabset class="example">
  <div tab heading="HTML" class="tab-pane active">
<pre><code gnap-highlight>&lt;div ng-controller=&quot;gnap-buttons as vm&quot;&gt;
    &lt;div class=&quot;btn-group&quot; dropdown is-open=&quot;vm.status.isopen&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot;&gt;
            Action
            &lt;i class=&quot;icon-angle-down icon-on-right&quot;&gt;&lt;/i&gt;
        &lt;/button&gt;
        &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
            &lt;li&gt;
                &lt;a ng-click=&quot;vm.action1()&quot;&gt;Action&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a ng-click=&quot;vm.action2()&quot;&gt;Another action&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a ng-click=&quot;vm.action3()&quot;&gt;Something else here&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;a link to somewhere else&quot;&gt;Separated link&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>
  <div tab heading="JavaScript" class="tab-pane">
<pre><code gnap-highlight>(function () {
    angular
        .module(&#39;gnap-example-app&#39;)
        .controller(&#39;gnap-buttons&#39;, GnapButtonsController);

    GnapButtonsController.$inject = [];

    function GnapButtonsController() {
        var vm = this;

        vm.status = {
            isopen: false
        };

        vm.action1 = function () {
            // do something here
            vm.status.isopen = false;
        };

        vm.action2 = function () {
            // do something here
            vm.status.isopen = false;
        };

        vm.action3 = function () {
            // do something here
            vm.status.isopen = false;
        };
    };
})();</code></pre>
  </div>
</div>

<a example-link source="ui-bootstrap"></a>